*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  transition: opacity $trans-default;

  @include hover {
    opacity: 0.7;
  }
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  // min-height: calc(100 * var(--vh, 1vh));
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 1.25;
  font-family: $ff-arial;
  color: $color-nero;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // оптимизация выравнивания шрифта относительно центра строки
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;

  background-color: $color-default-white;
}

#root {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  // min-height: calc(100 * var(--vh, 1vh));

  header,
  footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    width: 100%;
    min-width: 100%;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
