.resume-wrapper {
  margin-top: 80px;
}

.workplace {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.company-title {
  flex-shrink: 0;
  max-width: 30%;
  margin: 0;
  font-size: 1.3rem;

  @include vp-1023 {
    font-size: 1.15rem;
  }
  
  @include vp-767 {
    font-size: 1rem;
  }
}

.company-description {
  margin: 0;
  font-size: 1rem;

  @include vp-1023 {
    font-size: 0.9rem;
  }
  
  @include vp-767 {
    font-size: 0.8rem;
  }
}

.position {
  margin: 10px 0 0;
}

.project-text {
  margin: 10px 0 0;
}

.technologies-list {
  margin: 6px 0 0;
  padding: 0;
  list-style-type: none;
}

.technologies-item {
  margin: 4px 0 0;
}
