.projects-wrapper {
  margin-top: 80px;
}

.projects-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.projects-item:not(:last-child) {
  margin-bottom: 100px;
}

.project-title {
  margin: 0;
  font-size: 1.3rem;

  @include vp-1023 {
    font-size: 1.15rem;
  }
  
  @include vp-767 {
    font-size: 1rem;
  }
}

.project-desctiption {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 30px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    gap: 40px;
    grid-template-columns: 1fr;
  }

  .projects-item:nth-of-type(2n) & {
    .img-wrapper {
      grid-column: 2;

      @include vp-767 {
        grid-column: 1;
      }
    }

    .project-text {
      grid-column: 1;
      grid-row: 1;

      @include vp-767 {
        grid-row: 2;
      }
    }
  }
}

.img-wrapper {
  @include vp-767 {
    justify-self: center;
    max-width: 450px;
  }
}

.project-text {
  margin: 0;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
